<!DOCTYPE html>
<html>
<head>
	<title>AngularJS CF</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
</head>
<body ng-app="cfApp">

<div ng-controller="FirstController">
	<label>Comentario: </label><input type="text" ng-model="comment_new.comment">
	<br>
	<label>Usuario: </label><input type="text" ng-model="comment_new.user">
	<br>
	<button ng-click="newComment()">Nuevo Comentario</button>
	
	<br>
	<ul>
		<li ng-repeat="comment in comments">
			{{ comment.comment }} - <strong>{{ comment.user }}</strong>
		</li>
	</ul>
</div>
	
</body>

<script type="text/javascript" src="js/controller.js"></script>

</html>